body {
    font-family: 'Nunito', sans-serif;
    transition: background-color 0.3s;
}

h1,
h2,
h3,
.font-title {
    font-family: 'Fredoka', sans-serif;
}

/* Graph Paper Background */
.bg-grid {
    background-color: #f8fafc;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, rgba(15, 23, 42, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(15, 23, 42, 0.05) 1px, transparent 1px);
}

/* OLED Dark Mode Grid */
.dark .bg-grid {
    background-color: #020617;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}

/* Presentation Mode */
#presentation-mode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    display: none;
    align-items: center;
    justify-content: center;
    outline: none;
}

.slide-text {
    animation: popIn 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-shadow: 4px 4px 0px rgba(30, 41, 59, 1);
}

@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Chunky Button Interactions */
.btn-chunky {
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-chunky:hover {
    transform: translateY(-2px);
    box-shadow: 6px 6px 0px 0px #0f172a;
}

.dark .btn-chunky:hover {
    box-shadow: 6px 6px 0px 0px rgba(255, 255, 255, 0.3) !important;
}

.btn-chunky:active {
    transform: translateY(4px);
    box-shadow: 0px 0px 0px 0px #0f172a !important;
}

.dark .btn-chunky:active {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1) !important;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.05);
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.3);
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}

.animate-pop-in {
    animation: popIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.shadow-hard-orange {
    box-shadow: 4px 4px 0px 0px #ff7e33;
}

.aspect-chromebook {
    aspect-ratio: 3 / 2;
}

@media (min-width: 1024px) {
    .app-container {
        height: 660px;
        max-width: 1300px;
    }
}
